h1 {
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: 400;
    font-size: 2.8em;
    text-align: center;
    margin-top: 30%;
    letter-spacing: 2.5px;
}

h2{
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: 900;
    font-size: 1em;
    text-align: center;
    font-kerning: 2%;
}

hr.vertical
{
   width: 0px;
   height: 100%;
    color: black;/* or height in PX */
} 